NodeRed/DemoFlow.json
[{"id":"36227231.60082e","type":"inject","z":"400f80c0.fdb5","name":"R","props":[{"p":"hue","v":"0","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":500,"wires":[["e197f502.532338"]]},{"id":"e197f502.532338","type":"template","z":"400f80c0.fdb5","name":"HUE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"H\":{{hue}}\n},\n\"LED2\":{\n    \"H\":{{hue}}\n},\n\"LED3\":{\n    \"H\":{{hue}}\n},\n\"LED4\":{\n    \"H\":{{hue}}\n},\n\"LED5\":{\n    \"H\":{{hue}}\n}\n}","output":"str","x":250,"y":500,"wires":[["8d94aeb4.b4f01"]]},{"id":"8d94aeb4.b4f01","type":"mqtt out","z":"400f80c0.fdb5","name":"","topic":"cmnd/LED_Display/Colours","qos":"","retain":"","broker":"","x":540,"y":80,"wires":[]},{"id":"2534c293.4a293e","type":"inject","z":"400f80c0.fdb5","name":"G","props":[{"p":"hue","v":"120","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":540,"wires":[["e197f502.532338"]]},{"id":"e0fe9290.dc574","type":"inject","z":"400f80c0.fdb5","name":"B","props":[{"p":"hue","v":"240","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":580,"wires":[["e197f502.532338"]]},{"id":"8926129a.4f1a7","type":"inject","z":"400f80c0.fdb5","name":"OFF","props":[{"p":"value","v":"0","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":640,"wires":[["59e75ba6.632454"]]},{"id":"99d68de0.829bb","type":"inject","z":"400f80c0.fdb5","name":"50%","props":[{"p":"value","v":"50","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":720,"wires":[["59e75ba6.632454"]]},{"id":"12ef1605.2c132a","type":"inject","z":"400f80c0.fdb5","name":"FULL","props":[{"p":"value","v":"100","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":760,"wires":[["59e75ba6.632454"]]},{"id":"59e75ba6.632454","type":"template","z":"400f80c0.fdb5","name":"BRI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"V\":{{value}}\n},\n\"LED2\":{\n    \"V\":{{value}}\n},\n\"LED3\":{\n    \"V\":{{value}}\n},\n\"LED4\":{\n    \"V\":{{value}}\n},\n\"LED5\":{\n    \"V\":{{value}}\n}\n}","output":"str","x":250,"y":640,"wires":[["8d94aeb4.b4f01"]]},{"id":"ec4b4b4e.99fba8","type":"inject","z":"400f80c0.fdb5","name":"DEMO1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":140,"wires":[["91904448.e68c48"]]},{"id":"91904448.e68c48","type":"template","z":"400f80c0.fdb5","name":"RRAGG","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"H\":0\n},\n\"LED2\":{\n    \"H\":0\n},\n\"LED3\":{\n    \"H\":60\n},\n\"LED4\":{\n    \"H\":120\n},\n\"LED5\":{\n    \"H\":120\n}\n}","output":"str","x":260,"y":140,"wires":[["8d94aeb4.b4f01"]]},{"id":"a716e7b5.f49608","type":"inject","z":"400f80c0.fdb5","name":"25%","props":[{"p":"value","v":"25","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":680,"wires":[["59e75ba6.632454"]]},{"id":"f35c998b.c0e598","type":"template","z":"400f80c0.fdb5","name":"BRI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"V\":{{bright}}\n},\n\"LED2\":{\n    \"V\":{{dim}}\n},\n\"LED3\":{\n    \"V\":{{dim}}\n},\n\"LED4\":{\n    \"V\":{{dim}}\n},\n\"LED5\":{\n    \"V\":{{dim}}\n}\n}","output":"str","x":250,"y":820,"wires":[["8d94aeb4.b4f01"]]},{"id":"9668b984.af7288","type":"inject","z":"400f80c0.fdb5","name":"RR","props":[{"p":"bright","v":"50","vt":"num"},{"p":"dim","v":"5","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":820,"wires":[["f35c998b.c0e598"]]},{"id":"f6b06527.123eb8","type":"inject","z":"400f80c0.fdb5","name":"DEMO5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":300,"wires":[["377c6c8.5adc994"]]},{"id":"377c6c8.5adc994","type":"template","z":"400f80c0.fdb5","name":"RAINBW","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"H\":0\n},\n\"LED2\":{\n    \"H\":60\n},\n\"LED3\":{\n    \"H\":120\n},\n\"LED4\":{\n    \"H\":180\n},\n\"LED5\":{\n    \"H\":240\n}\n}","output":"str","x":260,"y":300,"wires":[["8d94aeb4.b4f01"]]},{"id":"a5a93ca1.3822","type":"inject","z":"400f80c0.fdb5","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":340,"wires":[["9c494d.852486b"]]},{"id":"9c494d.852486b","type":"template","z":"400f80c0.fdb5","name":"INIT SAT","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"S\":100\n},\n\"LED2\":{\n    \"S\":100\n},\n\"LED3\":{\n    \"S\":100\n},\n\"LED4\":{\n    \"S\":100\n},\n\"LED5\":{\n    \"S\":100\n}\n}","output":"str","x":260,"y":340,"wires":[["8d94aeb4.b4f01"]]},{"id":"8308b552.4ed2d8","type":"inject","z":"400f80c0.fdb5","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":380,"wires":[["d5eccce7.fd4bc"]]},{"id":"d5eccce7.fd4bc","type":"template","z":"400f80c0.fdb5","name":"WHITE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"S\":0\n},\n\"LED2\":{\n    \"S\":0\n},\n\"LED3\":{\n    \"S\":0\n},\n\"LED4\":{\n    \"S\":0\n},\n\"LED5\":{\n    \"S\":0\n}\n}","output":"str","x":260,"y":380,"wires":[["8d94aeb4.b4f01"]]},{"id":"115c359f.b4457a","type":"mqtt out","z":"400f80c0.fdb5","name":"","topic":"cmnd/LED_Display/Display","qos":"","retain":"","broker":"","x":540,"y":40,"wires":[]},{"id":"c25425b1.f26378","type":"inject","z":"400f80c0.fdb5","name":"DEMO1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":40,"wires":[["baa1d0d3.98b0c"]]},{"id":"baa1d0d3.98b0c","type":"template","z":"400f80c0.fdb5","name":"OLED","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"PAGE1\": {\n    \"TITLE\": \"Title1\",\n    \"SUBTEXT\": \"75\"\n  },\n  \"PAGE2\": {\n    \"TITLE\": \"Title2\",\n    \"SUBTEXT\": \"Sub2\"\n  },\n  \"PAGE3\": {\n    \"TITLE\": \"Title3\",\n    \"SUBTEXT\": \"Sub3\"\n  },\n  \"PAGE4\": {\n    \"TITLE\": \"Title4\",\n    \"SUBTEXT\": \"Sub4\"\n  },\n  \"PAGE5\": {\n    \"TITLE\": \"Title5\",\n    \"SUBTEXT\": \"Sub5\"\n  }\n}","output":"str","x":250,"y":40,"wires":[["115c359f.b4457a"]]},{"id":"748b4c19.887f04","type":"inject","z":"400f80c0.fdb5","name":"DEMO1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":80,"wires":[["a31e0eda.c6cc2"]]},{"id":"a31e0eda.c6cc2","type":"template","z":"400f80c0.fdb5","name":"OLED","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"PAGE1\": {\n    \"TITLE\": \"Cost\",\n    \"SUBTEXT\": \"50\",\n    \"ICON\":\"IMAGE_NOT_FOUND\"\n  },\n  \"PAGE2\": {\n    \"TITLE\": \"Wash Mode\",\n    \"SUBTEXT\": \"Cotton\",\n    \"ICON\":\"NONE\"\n  },\n  \"PAGE3\": {\n    \"TITLE\": \"WiFi\",\n    \"SUBTEXT\": \"WIFI SSID HERE\",\n    \"ICON\":\"x\"\n  },\n  \"PAGE4\": {\n    \"TITLE\": \"Voltage\",\n    \"SUBTEXT\": \"240V\",\n    \"ICON\":\"ANDROID\"\n  },\n  \"PAGE5\": {\n    \"TITLE\": \"Unit Cost\",\n    \"SUBTEXT\": \"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.\",\n    \"ICON\":\"ZOOM_OUT_MAP\"\n  }\n}\n\n","output":"str","x":250,"y":80,"wires":[["115c359f.b4457a"]]},{"id":"2e6ac4ad.fff53c","type":"inject","z":"400f80c0.fdb5","name":"DEMO3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":220,"wires":[["f6eeb111.bf13e"]]},{"id":"f6eeb111.bf13e","type":"template","z":"400f80c0.fdb5","name":"R2G","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"H\":0\n},\n\"LED2\":{\n    \"H\":30\n},\n\"LED3\":{\n    \"H\":60\n},\n\"LED4\":{\n    \"H\":90\n},\n\"LED5\":{\n    \"H\":120\n}\n}","output":"str","x":250,"y":220,"wires":[["8d94aeb4.b4f01"]]},{"id":"3706b467.9f4a1c","type":"inject","z":"400f80c0.fdb5","name":"Flash","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":420,"wires":[["4e101f1a.0723c"]]},{"id":"4e101f1a.0723c","type":"template","z":"400f80c0.fdb5","name":"FLASH ALL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"FLASH\":1\n},\n\"LED2\":{\n    \"FLASH\":1\n},\n\"LED3\":{\n    \"FLASH\":1\n},\n\"LED4\":{\n    \"FLASH\":1\n},\n\"LED5\":{\n    \"FLASH\":1\n}\n}","output":"str","x":270,"y":420,"wires":[["8d94aeb4.b4f01"]]},{"id":"5c1edc4a.b47874","type":"inject","z":"400f80c0.fdb5","name":"Flash","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":460,"wires":[["be34d358.b5fd6"]]},{"id":"be34d358.b5fd6","type":"template","z":"400f80c0.fdb5","name":"FLASH OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"FLASH\":0\n},\n\"LED2\":{\n    \"FLASH\":0\n},\n\"LED3\":{\n    \"FLASH\":0\n},\n\"LED4\":{\n    \"FLASH\":0\n},\n\"LED5\":{\n    \"FLASH\":0\n}\n}","output":"str","x":270,"y":460,"wires":[["8d94aeb4.b4f01"]]},{"id":"36fe93e7.3149bc","type":"inject","z":"400f80c0.fdb5","name":"DEMO2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":180,"wires":[["9640038d.2f4a5"]]},{"id":"9640038d.2f4a5","type":"template","z":"400f80c0.fdb5","name":"GGARR","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"H\":120\n},\n\"LED2\":{\n    \"H\":120\n},\n\"LED3\":{\n    \"H\":60\n},\n\"LED4\":{\n    \"H\":0\n},\n\"LED5\":{\n    \"H\":0\n}\n}","output":"str","x":260,"y":180,"wires":[["8d94aeb4.b4f01"]]},{"id":"28974fba.3916f","type":"template","z":"400f80c0.fdb5","name":"G2R","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"LED1\":{\n    \"H\":120\n},\n\"LED2\":{\n    \"H\":90\n},\n\"LED3\":{\n    \"H\":60\n},\n\"LED4\":{\n    \"H\":30\n},\n\"LED5\":{\n    \"H\":0\n}\n}","output":"str","x":250,"y":260,"wires":[["8d94aeb4.b4f01"]]},{"id":"97c810a4.847d8","type":"inject","z":"400f80c0.fdb5","name":"DEMO4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":260,"wires":[["28974fba.3916f"]]}]